asgiref==3.8.1
certifi==2025.4.26
Django==5.2.3
djangorestframework==3.16.0
elastic-transport==8.17.1
elasticsearch==9.0.2
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
